h1 {
	text-align: center;
	color:white;
}
body {
	background-color: #2471a3;
	font-family: arial,Verdana,sans-serif;
	margin-left: 20px;
}
p {
	color: yellow;
	font-size: 20px;
}
div {
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.name {
	width: 50%;
	height: 25px;
}


.GradeQuiz{
	text-align: center;
	width: 150px;
}
.Reset{
	width: 150px;
}
